{% extends "../layout/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/addConnection.css">
	<link rel="stylesheet" href="/assets/css/settings.css">
{% endblock %}


{% block main %}

	<main>
		<h1>hello</h1>
	</main>
{% endblock %}
