{% extends "../layout/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/addConnection.css">
	<link rel="stylesheet" href="/assets/css/settings.css">
{% endblock %}

{% block main %}
	<main>
		<div class="form-container">
			<form action="" method="POST">
				<div class="title">
					<h4>DB connection</h4>
					<p>Choose a db to connect</p>
				</div>
				<div class="fields">
					<label for="type">Database Type</label>
					<select name="type" required>
						<option value="">Select database type</option>
						<option value="mysql">MySQL</option>
					</select>
				</div>
				<div class="fields">
					<label for="host">Host</label>
					<input type="text" name="host" required>
				</div>
				<div class="fields">
					<label for="port">Port</label>
					<input type="text" name="port" required>
				</div>
				<div class="fields">
					<label for="name">Database name</label>
					<input type="text" name="name" required>
				</div>
				<div class="fields">
					<label for="username">Username</label>
					<input type="text" name="username" required>
				</div>
				<div class="fields">
					<label for="password">Password</label>
					<input type="text" name="password" required>
				</div>
				<div class="cancel-validate">
					<a href="/">Cancel</a>
					<button type="submit" class="btn-normal">Connect</button>
				</div>
			</form>
		</div>
	</main>
{% endblock %}

{% block script %}
	<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
	{% if toast %}
		<script>
			Toastify({
text: "{{ toast.message|e('js') }}",
duration: 3000,
gravity: "top",
position: "center",
backgroundColor: "{{ toast.type == 'error' ? '#ff4d4d' : '#4BB543' }}",
stopOnFocus: true
}).showToast();
		</script>
	{% endif %}
{% endblock %}
