{% extends "../layout/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/settings.css">
	<link rel="stylesheet" href="/assets/css/dashboard.css">
{% endblock %}

{% block main %}

	<h1>welcome</h1>
	{% if user %}
		<h1>Welcome{{user.siret}}</h1>
	{% endif %}
{% endblock %}
