{% extends "../layout/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/settings.css">
	<link rel="stylesheet" href="/assets/css/login.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
{% endblock %}

{% block title %}
	<title>Log In</title>
{% endblock %}

{% block main %}
	<main>
		<div class="form-container">
			<form action="" method="POST">
				<div class="title">
					<h4>Welcome</h4>
					<p>Log in to your account</p>
				</div>
				<div class="fields">
					<label for="mail">Enter your siret</label>
					<input type="text" name="siret">
				</div>
				<div class="fields">
					<label for="password">Enter your password</label>
					<input type="password" name="password">
				</div>
				<div class="remember">
					<label>
						<input type="checkbox" name="remember">
						Remember me
					</label>
				</div>
				<button class="btn-normal" type="submit">Log In</button>
				<div class="link-to-register">
					<p>Don't have an account ?</p>
					<a href="/register">Sign in</a>
				</div>
			</form>
		</div>
	</main>
{% endblock %}

{% block script %}
	<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
	{% if toast %}
		<script>
			Toastify({
text: "{{ toast.message|e('js') }}",
duration: 3000,
gravity: "top",
position: "center",
backgroundColor: "{{ toast.type == 'error' ? '#ff4d4d' : '#4BB543' }}",
stopOnFocus: true
}).showToast();
		</script>
	{% endif %}
{% endblock %}
