{% extends "../layout/base.twig" %}


{% block title %}
	<title>Upload Csv</title>
{% endblock %}

{% block style %}
	<link rel="stylesheet" href="/assets/css/settings.css">
	<link rel="stylesheet" href="/assets/css/uploadCsv.css">
{% endblock %}

{% block main %}
	<main>

		<div class="form-container">
			<form action="/upload" method="post" enctype="multipart/form-data">
				<div class="title">
					<h4>Add CSV</h4>
					<p>Upload your sheet</p>
				</div>
				<label for="csvfile">Sélectionnez un fichier CSV :</label>
				<input type="file" id="csvfile" name="csvfile" accept=".csv" required>
				<br><br>
				<button type="submit">Déposer le fichier</button>
			</form>
		</div>
	</main>
{% endblock %}
