    main {
        display: flex;
        justify-content: center;
        align-items: center;

        .form-container {
            width: 40%;
            margin: 40px 0;
        }

        .cancel-validate {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;

            a {
                text-align: center;
                width: 48%;
                border: 1px solid #E2E8F0;
                border-radius: 10px;
                padding: 15px 0;
                font-size: 1em;
                text-decoration: none;
                color: grey;
            }

            button {
                width: 48%;
            }
        }

        select {
            border: 1px solid grey;
            border-radius: 7px;
            padding: 12px 0;
        }
    }

    @media screen and (max-width: 700px) {
        .form-container {
            width: 80% !important;
        }
    }