body {
    height: 100vh;

}

main {
    i {
        font-size: 1.2em;

        &:hover {
            color: #D7155C;
        }
    }
}

.nav {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .back {
        margin-left: 20px;

        a {
            color: #64748B;
        }
    }

    .page {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;

        .step {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 30px;

            .step-number {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                margin-bottom: 10px;
                background-color: #E2E8F0;
            }

            .step-label {
                text-align: center;
                color: #64748B;
                font-size: 0.7em;
                margin-bottom: 0;
            }

        }

        .connector {
            height: 2px;
            width: 50px;
            background-color: #d3d3d3;
        }
    }
}

.table-setup {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;

    form {
        box-shadow: none;
        border-radius: 10px;
        padding: 0;
        width: 67%;
    }

    h2 {
        margin-top: 0;
    }

    .table-available {
        border: 1px solid #E2E8F0;
        border-radius: 7px;
        width: 32%;

        .table-available-container {
            padding: 20px;

            .clicked {
                background-color: #F8FAFC;
                border: 1px solid #D7155C;
            }

            .clicked i {
                color: #D7155C;
                transition: 0.3s;
            }

            .table-list-container {



                .tables {
                    border-radius: 7px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;

                    &:hover {
                        background-color: #F8FAFC;
                        border-radius: 7px;
                        cursor: pointer;

                        i {
                            color: #D7155C;
                            transition: 0.3s;
                        }
                    }

                    .tables-infos {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        width: 30%;
                        gap: 40px;
                        padding: 0 20px;

                        .table-img {
                            height: 20px;
                            width: 20px;
                            background: yellow;
                        }
                    }

                    .tables-btn-add {
                        margin-right: 40px;
                    }

                }
            }
        }
    }

    .table-selected {
        border: 1px solid #E2E8F0;
        border-radius: 7px;

        .table-selected-container {
            padding: 20px;

            .tables {
                border-radius: 7px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;

                &:hover {
                    background-color: #F8FAFC;
                    border-radius: 7px;
                    cursor: pointer;

                    i {
                        color: #D7155C;
                        transition: 0.3s;
                    }
                }

                .tables-infos {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 30%;
                    gap: 40px;
                    padding: 0 20px;

                    .table-img {
                        height: 20px;
                        width: 20px;
                        background: yellow;
                    }
                }

                .tables-btn-add {
                    margin-right: 40px;
                }
            }
        }

        .btn-container {
            display: flex;
            justify-content: end;
            padding: 20px;

            .btn-normal {
                width: 33%;
            }
        }


    }
}

@media screen and (max-width: 1100px) {

    .tables-infos {
        padding: 0 !important;
        gap: 30px !important;
        margin-left: 10px !important;
    }

    .tables-btn-add {
        margin-right: 10px !important;
    }

    .table-setup {
        flex-direction: column;
        padding: 10px;
        padding: 0;

        .table-available {
            width: 100% !important;
            margin-bottom: 10px;
        }

        form {
            width: 100% !important;
        }
    }

    .submit-btn {
        width: 100% !important;
    }

    .nav {
        justify-content: center;

        .back {
            margin-left: 0 !important;
        }

        .page {
            display: none !important;
        }
    }

}