<header>
	<div class="header-container">
		<div class="logo">
			<p>Made in France</p>
			<img src="/assets/img/france.png" alt="france">
		</div>
		<div class="language">
			<p>choose language</p>
		</div>
	</div>
</header>
